body {
    background-color: #252525;
    color: #fff;
}

/* Scroll Section */
body::-webkit-scrollbar {
    width: 13px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


/* Container */
.container {
    padding-left: 223px;
    padding-right: 223px;
}


/* Logo Section */
.wrapper {
    height: 856px;
    background: #454545;
    box-shadow: 17px 25px 23px 11px rgba(0, 0, 0, 0.25), -17px 25px 23px 11px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
}

.logo__section {
    margin-top: 38px;
    margin-bottom: 5px;
}

.header__logo {
    user-select: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;   
    font-size: 110px;
    line-height: 104px; 
    margin: 0 auto;
    padding-bottom: 30px;
    background: linear-gradient(180deg, #ffffff 29.9%, #ffffff 57.73%, #2e2e2e 105.15%, #ffffff 105.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    
    text-shadow: 0px 5.6px 50.4px rgba(0, 0, 0, 0.5);
}


/* ColorPicker */

.color__picker__form {   
    width: 372px;
    height: 664px;
    background: #252525;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25),
    -6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    top: 54px;
    left: 300px;
}

.color__buttons {
    width: 350px;
    height: 111px;
    background: #3E3E3E;
    border-radius: 15px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25)) 
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)); 
    margin-left: 11px;
    margin-top: 11px; 
   
}

.color__buttons__position {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 23px;
    grid-template-rows: 55px;
    
}

.btn {
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 4px 
    rgba(0, 0, 0, 0.25), -2px 2px 2px 
    rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.color__picker {
    border-radius: 15px;
    position: absolute;
    top: 179px;
    left: 0;
}

.color__box {
    margin-top: 0;
    position: relative;
    display: block;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #000;
}

.picker__cursor { 
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 1px solid #fff;
    outline-offset: -3px;
} 

.color__container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: #fff;
}
