body {
    background-color: #252525;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;

}
.container {
    padding-left: 122px;
    padding-right: 122px;
}

.logo__section {
    margin: 0 auto;

}

.header__logo {
    background-image: url(/image/ColorStorage.svg);
    display: block;
    width: 669px;
    height: 132px;
    margin: 0 auto;
}

.wrapper {
    height: 856px;
    margin-top: 17px;
    background: #454545;
    box-shadow: 17px 25px 23px 11px rgba(0, 0, 0, 0.25), -17px 25px 23px 11px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.color__section {
    position: relative;
}

.color__box {
    position: relative;
    display: block;
    border: 2px solid #000;
    border-radius: 15px;
}

.picker__cursor { 
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 1px solid #fff;
    outline-offset: -3px;
} 

.color__container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: #fff;
}
