body {
    background-color: #252525;
    color: #fff;
}

/* Scroll Section */
body::-webkit-scrollbar {
    width: 13px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}



/* Container */
.container {
    padding-left: 223px;
    padding-right: 223px;
}

.article {
    height: 1200px;
    max-width: 1366px;
    margin: 0 auto;
    background: #454545;
    box-shadow: 17px 25px 23px 11px rgba(0, 0, 0, 0.25), 
    -17px 25px 23px 11px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
}


/* Logo Section */
.logo__section {
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
    user-select: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;   
    font-size: 110px;
    line-height: 104px; 
    margin: 0;
    margin-left: -5px;
    padding-bottom: 47px;
    background: linear-gradient(180deg, 
    #ffffff 29.9%, 
    #8a8a8a 57.73%, 
    #222222 105.15%, 
    #ffffff 105.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    
    text-shadow: 0px 5.6px 50.4px rgba(0, 0, 0, 0.5);
}

.logo__navigation {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    list-style-type: none;
    user-select: none;
}

.nav li {
    margin-left: 70px;
}

.nav li a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-clip: text;
    color: #c2c9d6;
    filter: drop-shadow(2px 2px 7px #000000);
    transition: .2s ease;
}

.nav li a:hover {
    color: #ffffff;
    filter: drop-shadow(2px 2px 7px #000000);
}


/* Layout Header */
.layout__container {
    font-family: 'IBM Plex Mono', monospace;    
    position: relative;
    left: 15px;
    top: 15px;
    width: 1336px;
    height: 604px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #000000;
   
}


.layout {
    margin-left: 50px;
    margin-right: 50px;
}

.header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout__logo__image {
    width: 120px;
    height: 56px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 6px;
}

.layout__logo {
    margin-left: 8px;
    font-size: 32px;
}

.logo__section__layout {
    display: flex;
    align-items: center;
    margin: 0;
}

.layout__navigation {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-template-rows: 20px;
} 

.layout__navigation .nav__li {
    font-size: 24px;
}

.line__first {
    margin-top: -7px;
    background-color: #D9D9D9;
}


/* Layout Article */
.article__layout {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.using__color {
    font-size: 53px;
    width: 575px;
    height: 131px;
}

.btn__section {
    position: relative;
    top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-template-rows: 20px;
}

.simple__button {
    width: 230px;
    height: 69px;
    background: #D9D9D9;
    border-radius: 59px;
}

.img__layout {
    width: 500px;
    height: 351px;
    background: #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}


.line__second {
    margin-top: 55px;
}