.color__section {
    position: relative;
}

.color__box {
    position: relative;
    display: block;
    border: 2px solid #000;
    border-radius: 15px;
}

.picker__cursor { 
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 1px solid #fff;
    outline-offset: -3px;
} 

.color__container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: #fff;
}
