body {
   background-color: rgb(56, 55, 55);
}

.color__picker__container {
     position: relative;
}
.color__box {
    width: 291px;
    height: 296px;
    display: block;
    border: 2px solid #000;
    padding-right: 5px;
    /* position: relative; */
}

.picker { 
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    top: 137px;
    left: 137px;
}

.color__container {
    margin-top: 0;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: #fff;
}
