.color__section {
    position: relative;
}

.color__box {
    position: relative;
    display: block;
    border: 2px solid #000;
}

.picker__cursor { 
    z-index: 1;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.picker__cursor__inner {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 18px;
    height: 18px; 
    border-radius: 18px;
}

.color__container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-top: 15px;
    background-color: #fff;
}
